<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
    <script data-require="angular.js@1.4.x" src="https://code.angularjs.org/1.4.8/angular.js" data-semver="1.4.8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.14.3/ui-bootstrap-tpls.js"></script>
	<script src="https://mozilla.github.io/pdf.js/build/pdf.js"></script>
	<script>
		(function(angular) {
		  	var app = angular.module('myApp', []);
		  		app.controller('MainCtrl',['$scope','$http',function($scope, $http) {
		  			$scope.src = 'https://www.tutorialspoint.com/data_mining/data_mining_tutorial.pdf';
		  			$scope.getFile = function() {
		  				console.log($scope.src);	  			}
		  		}]);
				app.directive('fileUploader', [ '$sce', '$compile', '$http', function($sce, $compile, $http) {
				  	return {
					    restrict : 'E',
					    require : '?^ngModel',
					    templateUrl : 'template.html',
					    require : '^ngModel',
					    scope : {
					    	maxSize : '@',
					    	minSize : '@',
					    	maxResolution : '@',
					    	minResolution : '@',
					    	type : '@',
					    	ngModel : '=',
					    },
					    link: function(scope, element, attr, ngCtrl) {
					    	element.bind('change', function(event) {
					      		scope.errorMsg = "";
					      		var reader = new FileReader();
					      		scope.inputFileObj = {
	                                name: event.target.files[0].name,
	                                size: event.target.files[0].size / (1024*1024),
	                                type: event.target.files[0].type,
		                        };
		                        reader.onload = function(loadEvent) {
						      		if (isFileImageType(getInputFileType(scope.inputFileObj.name))) {
						      			var img = new Image;
						      			img.onload = function() {
						      				scope.inputFileObj.resolution = img.width + "x" + img.height;
						      				scope.inputFileObj.imgData = img.src;
						      				handleAfterLoadEvent(scope.inputFileObj, true);
						      			}
						      			img.src = reader.result;
						      		} else if (scope.inputFileObj.type == 'application/pdf') {
						      			scope.inputFileObj.fileData = loadEvent.target.result;
						      			handleAfterLoadEvent(scope.inputFileObj);
						      		}
		                        }
		                        reader.readAsDataURL(event.target.files[0]);
		                    });

					    	function isFileImageType(inputFileExtension) {
					    		var imgExtensionList = ['png', 'jpg', 'jpeg', 'gif', 'bmp'];
					    		return imgExtensionList.indexOf(inputFileExtension) > -1 ? true : false;
					    	}

		                    function handleAfterLoadEvent(inputFileObj, isImage){
		                    	var inputFileCorrectness = getInputFileCorrectness(inputFileObj, isImage);
			      				if (isInputFileGood(inputFileCorrectness, isImage)) {
			      					scope.ngModel = isImage ? inputFileObj.imgData : inputFileObj.data;
			      					loadPreviewDataInUi(inputFileObj, isImage);
			      				} else {
			      					loadErrorMsg(inputFileCorrectness);
			      				}
		                    }

		                    function loadErrorMsg(fileCorrectness) {
	                    		var badProps = [];
	                    		angular.forEach(fileCorrectness, function(value, key) {
	                    			if (value === false) {
	                    				badProps.push(key);
	                    			}
	                    		});
	                    		scope.errorMsg = "Incorrect " + badProps.join(", ");
	                    		scope.removeFile();
	                    		scope.$apply();
	                    	}

	                    	function getInputFileCorrectness(inputFileObj, isImage) {
	                    		scope.minSize = scope.minSize || 0;
	                    		scope.maxSize = scope.maxSize || 25;
	                    		var isSizeGood = inputFileObj.size > scope.minSize && inputFileObj.size < scope.maxSize;
	                    		var isTypeGood = isInputTypeGood(scope.type, getInputFileType(inputFileObj.name));
	                    			                    		
	                    		if (isImage) {
	                    			return {
	                    				'size' : isSizeGood,
	                    				'file type' : isTypeGood,
	                    				'resolution' : isResolutionForImageGood(scope.maxResolution, scope.minResolution, inputFileObj.resolution)
	                    			};
	                    		} else {
	                    			return {
	                    				'size' : isSizeGood,
	                    				'file type' : isTypeGood
	                    			};
	                    		}
	                    	}

	                    	function isInputFileGood(fileCorrectness, isImage) {
	                    		var isFileGood = fileCorrectness.size && fileCorrectness['file type'];
	                    		return isImage ?  isFileGood && fileCorrectness.resolution : isFileGood;
	                    	}

	                    	function getInputFileType(name) {
	                    		var tempArray = name.split(".");
	                    		return tempArray[tempArray.length-1];
	                    	}

	                    	function isInputTypeGood(type, fileExtension) {
	                    		var tempType = [];
	                    		if (type.indexOf(',') > -1) {
	                    			tempType = type.split(',').map(function(types) {
	                    				return String(types).replace(/^\s+|\s+$/g, "");
	                    			});
	                    		} else {
	                    			tempType = [type];
	                    		} 
	                    		return type ? tempType.indexOf(fileExtension) > -1 : true;
	                    	}

	                    	function isResolutionForImageGood(maxResolution, minResolution, inputImageResolution) {
	                    		var imageResolution = getArrayFromString(inputImageResolution);
                    			
                    			maxResolution = maxResolution || '4920 x 3264'; // resolution of 16MP
                    			minResolution = minResolution || '176 x 120'; // resolution of QCIF
                    			
                    			var maxResolutionArray = getArrayFromString(maxResolution);
                    			var minResolutionArray = getArrayFromString(minResolution);

                    			var isHeightGood = imageResolution[0] < maxResolutionArray[0] && imageResolution[0] > minResolutionArray[0];
                    			var isWidthGood = imageResolution[1] < maxResolutionArray[1] && imageResolution[1] > minResolutionArray[1];

                    			return isHeightGood && isWidthGood;
	                    	}

	                    	function getArrayFromString(string) {
	                    		return string.split("x").map(function(str) {
	                    			return Number(str);
	                    		});
	                    	}

	                    	scope.removeFile = function() {
	                    		scope.inputFileObj = {};
	                    		scope.ngModel = undefined;
	                    		scope.previewData = false;
	                    	};

	                    	function loadPreviewDataInUi(inputFileObj, isImage, isFromLink) {
	                    		loadPreviewDiv(inputFileObj, isImage, isFromLink);
	                    		if (inputFileObj.type === "application/pdf") {
	                    			loadPdfInUi(inputFileObj.fileData)
			      				}
	                    	}

	                    	function loadPreviewDiv(inputFileObj, isImage, isFromLink) {
	                    		var previewDiv = '<div> \
													<div class="input-group"> \
														<input type="text" class="form-control" disabled value="' + inputFileObj.name + '"> \
														<div class="input-group-btn"> \
															<button class="btn btn-danger" ng-click="removeFile()">Remove</button> \
														</div>\
													</div> \
													<div class="previewDivContainer"> ';
								if (isImage) {
									previewDiv += '<img class="img-thumbnail" src="'+ inputFileObj.imgData +'" alt="Preview Image">';
								} else {
									setRandomCanvasIdFromData(inputFileObj.fileData);
									previewDiv += '<canvas id="' + scope.canvasId + '" ></canvas>';
								}

								previewDiv += '</div> \
												</div>';

								scope.previewData = $sce.trustAsHtml(previewDiv);
								if (!isFromLink) {
									scope.$apply();
								}
	                    	}

	                    	function setRandomCanvasIdFromData(data) {
	                    		var tempData = data.split('data:application/pdf;base64,')[1];
	                    		var substr = tempData.substring(100,200);

	                    		var tempData1 = tempData.split(substr)[0];
	                    		var substr1 = tempData1.substring(90,95);
	                    		scope.canvasId = tempData1.split(substr1)[1];
	                    	}

	                    	function loadPdfInUi(data) {
	                    		var pdfData = atob(data.split('data:application/pdf;base64,')[1]);
				      			PDFJS.workerSrc = 'https://mozilla.github.io/pdf.js/build/pdf.worker.js';

								var loadingTask = PDFJS.getDocument({data: pdfData});
								loadingTask.promise.then(function(pdf) {
								  	var pageNumber = 1;
								  	pdf.getPage(pageNumber).then(function(page) {
									    var scale = .5;
									    var viewport = page.getViewport(scale);

									    var canvas = document.getElementById(scope.canvasId);
									    var context = canvas.getContext('2d');
									    canvas.height = viewport.height;
									    // canvas.width = viewport.width;

									    var renderContext = {
									      	canvasContext: context,
									      	viewport: viewport
									    };
									    var renderTask = page.render(renderContext);
									    renderTask.then(function () {});
								  });
								}, function (reason) {
								  console.error(reason);
								});
	                    	}

	                    	if (scope.ngModel) {
				    			var fileType = getInputFileType(scope.ngModel);
				    			if (isFileImageType(fileType)) {
				    				scope.inputFileObj = {
				    					'name' : getFileNameFromLink(scope.ngModel),
				    					'imgData' : scope.ngModel,
				    					'type' : getInputFileType(scope.ngModel)
				    				};
				    				loadPreviewDataInUi(scope.inputFileObj, true, fromLink=true);
				    			} else {
				    				loadBase64CodeFromPdfLink(scope.ngModel, function(base64Code) {
				    					scope.inputFileObj = {
					    					'name' : getFileNameFromLink(scope.ngModel),
					    					'fileData' : base64Code,
					    					'type' : 'application/pdf'
					    				};
					    				loadPreviewDataInUi(scope.inputFileObj, false, fromLink=true);
				    				});
				    			}
					    	}

					    	function getFileNameFromLink(link) {
	                    		var tempArray = link.split("/");
	                    		return tempArray[tempArray.length-1];
	                    	}

					    	function loadBase64CodeFromPdfLink(link, fn) {
					    		$http.get(link, {
								    responseType: 'arraybuffer'
								}).then(function (response) {
									var base64Code = 'data:application/pdf;base64,' + getBase64FromArrayBuffer(response.data);
									if (typeof fn  === 'function') fn(base64Code);
								})
								.catch(function(err) {
									console.log(err);
								});
					    	}
					    	

							function getBase64FromArrayBuffer(buffer) {
							    var binary = '';
							    var bytes = new Uint8Array(buffer);
							    var len = bytes.byteLength;
							    for (var i = 0; i < len; i++) {
							        binary += String.fromCharCode(bytes[i]);
							    }
							    return btoa(binary);
							}
       	
				    },
				};
			}]);
			app.directive('customBindCompileHtml', ['$compile', function ($compile) {
		        return {
		            restrict: 'A',
		            link: function (scope, iElement, iAttrs) {
		                scope.$watch(function () {
		                    return scope.$eval(iAttrs.customBindCompileHtml);
		                }, function (html) {
		                    iElement.html(html);
		                    $compile(iElement.contents())(scope);
		                });
		            }
		        };
		    }]);
		})(window.angular);
	</script>
</head>
<body>
<div ng-controller="MainCtrl">
	<file-uploader type="pdf, jpg, png" max-size="0.5" min-size="" ng-model="src" max-resolution="" min-resolution=""></file-uploader>
	<file-uploader type="" max-size="0.5" min-size="" ng-model="a" max-resolution="" min-resolution=""></file-uploader>
</body>
</html>
<script id="template.html" type="text/ng-template">
	<div class="mainDiv">
		<div class="fileInputContainer">
			<div class="input-group" ng-class="inputFileObj.name ? 'ng-hide' : 'ng-show'">
				<input type="text" class="form-control" disabled>
				<div class="input-group-btn">
					<label class="btn btn-primary">
						<input type="file" name="file" class="hidden" ng-model="inputFile">
					Choose File
				</label>
				</div>
			</div>
			<div ng-if="errorMsg">
				<span class="errMsg">{{errorMsg}}</span>
			</div>
		</div>
		<div ng-if="previewData">
			<div custom-bind-compile-html="previewData"></div>
		</div>
	</div>
</script>
<style>
	.mainDiv {
		position: relative;
		padding: 10px;
		max-width: 25%;
	}
	.previewDivContainer {
		border: 1px solid #bdbdbd;
    	margin-top: 1px;
	}
	.errMsg {
		color: #ff2c2c;
	}
</style>
</script>

