<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet"; href="https://unpkg.com/ng-table@2.0.2/bundles/ng-table.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
    <script data-require="angular.js@1.4.x" src="https://code.angularjs.org/1.4.8/angular.js" data-semver="1.4.8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.14.3/ui-bootstrap-tpls.js"></script>
	<script>
		(function(angular) {
		  	var app = angular.module('myApp', []);
				app.directive('fileUploader', function() {
				  	return {
					    restrict : 'E',
					    templateUrl : 'template.html',
					    require : '^ngModel',
					    scope : {
					    	maxSize : '@',
					    	minSize : '@',
					    	maxResolution : '@',
					    	minResolution : '@',
					    	type : '@',
					    	ngModel : '=',
					    },
					    link: function(scope, element, attr, ngCtrl) {
					      	element.bind('change', function(event) {
					      	var img;
					        var reader = new FileReader();
		                    reader.onload = function (loadEvent) {
		                        var inputFileObj = {
	                                lastModified: event.target.files[0].lastModified,
	                                lastModifiedDate: event.target.files[0].lastModifiedDate,
	                                name: event.target.files[0].name,
	                                size: event.target.files[0].size / (1024*1024),
	                                type: event.target.files[0].type,
	                                data: loadEvent.target.result,
	                                resolution : getImageResolution(loadEvent.target.result)
		                        };

		                        if (isInputFileGood(inputFileObj)) {
		                        	console.log('good');
		                        }
	            //                 var imgTag ='<img id="inputImage" src="' + inputFileObj.data + '" alt="img" style="height:200px; width:250px">';
	            //                 var filePreviewDiv = '<div id="imgContainer" class="col-xs-1"> \
													// 	<span style="position:absolute;top:0;left:245px;color:red;font-size:20px;cursor:pointer;" onMouseOver="this.style= ng-click="abnc()"><i class="fa fa-times" aria-hidden="true"></i> \
													// 	</span> \
													// 	' + imgTag + ' \
													// </div>';
	            //                 element.append(angular.element(filePreviewDiv));
		           //              var uploadedImage = document.querySelector('img');
		           //              var imageWidth = uploadedImage.naturalWidth;
		           //              var imageHeight = uploadedImage.naturalHeight;
		                    }

	                    	reader.readAsDataURL(event.target.files[0]);

	                    	function getImageResolution(imgData) {
	                    		var imgDiv = '<img id="inputImageForImageTesting" class="hidden" src="' + imgData + '" alt="img" style="height:200px; width:250px">'
	                            element.append(angular.element(imgDiv));
	                            var imgObj = document.querySelector('img');
	                            
	                            return  String(imgObj.naturalWidth) + "x" + String(imgObj.naturalHeight);
	                    	}

	                    	function isInputFileGood(inputFileObj) {
	                    		scope.minSize = scope.minSize || 0;
	                    		var isSizeGood = inputFileObj.size > scope.minSize && inputFileObj.size < scope.maxSize;
	                    		var isTypeGood = isInputTypeGood(scope.type, getInputFileType(inputFileObj.name), inputFileObj.type);
	                    		var isResolutionGood = isResolutionForImageGood(scope.maxResolution, scope.minResolution, img)

	                    		return isSizeGood && isTypeGood && isResolutionGood;
	                    	}

	                    	function getInputFileType(name) {
	                    		var tempArray = name.split(".");
	                    		return tempArray[tempArray-1];
	                    	}

	                    	function isInputTypeGood(type, fileExtension ,fileType) {
	                    		return type ? scope.type == fileExtension || scope.type == fileType : true;
	                    	}

	                    	function isResolutionForImageGood(maxResolution, minResolution, uploadedImg) {
	                    		if (uploadedImg) {
	                    			maxResolution = maxResolution || '4920 x 3264'; // resolution of 16MP
	                    			minResolution = minResolution || '176 x 120'; // resolution of QCIF
	                    			var maxResolutionArray = maxResolution.split("x").map(function(str) {
	                    				return Number(str);
	                    			});
	                    			var minResolutionArray = minResolution.split("x").map(function(str) {
	                    				return Number(str);
	                    			});
	                    			return (maxResolutionArray[0] < uploadedImg.naturalWidth && minResolutionArray[0] > uploadedImg.naturalWidth) && 
	                    					(maxResolutionArray[1] < uploadedImg.naturalHeight && minResolutionArray[1] > uploadedImg.naturalHeight)
	                    		} 
	                    		return true;
	                    	}
					    })
				    },
				};
			});
		})(window.angular);
	</script>
</head>
<body>
<div>
	<file-uploader type="" max-size="" min-size="" ng-model="a" max-resolution="" min-resolution=""></file-uploader>
</body>
</html>
<script id="template.html" type="text/ng-template">
	<div id="fileInputContainer">
		<input type="file" name="file" ng-model="inputFile">
	</div>
</script>
</script>

