<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet"; href="https://unpkg.com/ng-table@2.0.2/bundles/ng-table.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
    <script data-require="angular.js@1.4.x" src="https://code.angularjs.org/1.4.8/angular.js" data-semver="1.4.8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.14.3/ui-bootstrap-tpls.js"></script>
	<script>
		(function(angular) {

		  	var app = angular.module('myApp', []);
		  		app.controller('MainCtrl',['$scope', function($scope) {
		  			// $scope.src = 'https://cdn.esewa.com.np/documents/users/364/364696/HZtVSL1Dtv4nXk1FuTCg94XnH7FnLOq0.jpg';
		  			$scope.getFile = function() {
		  				console.log($scope.src);	  			}
		  		}]);
				app.directive('fileUploader', function() {
				  	return {
					    restrict : 'E',
					    require : '?^ngModel',
					    templateUrl : 'template.html',
					    require : '^ngModel',
					    scope : {
					    	maxSize : '@',
					    	minSize : '@',
					    	maxResolution : '@',
					    	minResolution : '@',
					    	type : '@',
					    	ngModel : '=',
					    },
					    link: function(scope, element, attr, ngCtrl) {
					    	element.bind('change', function(event) {
					      		scope.errorMsg = "";
					      		var reader = new FileReader();
					      		scope.inputFileObj = {
	                                lastModified: event.target.files[0].lastModified,
	                                lastModifiedDate: event.target.files[0].lastModifiedDate,
	                                name: event.target.files[0].name,
	                                size: event.target.files[0].size / (1024*1024),
	                                type: event.target.files[0].type,
		                        };
		                        reader.onload = function(loadEvent) {
						      		if (isFileImageType(getInputFileType(scope.inputFileObj.name))) {
						      			var img = new Image;
						      			img.onload = function() {
						      				scope.inputFileObj.resolution = img.width + "x" + img.height;
						      				scope.inputFileObj.imgData = img.src;
						      				handleAfterLoadEvent(scope.inputFileObj, true);
						      			}
						      			img.src = reader.result;
						      		} else {
						      			scope.inputFileObj.fileData = loadEvent.target.result;
						      			handleAfterLoadEvent(scope.inputFileObj);
						      		}
		                        }
		                        reader.readAsDataURL(event.target.files[0]);
		                    });


					    	function isFileImageType(inputFileExtension) {
					    		var imgExtensionList = ['png', 'jpg', 'jpeg', 'gif', 'bmp'];
					    		return imgExtensionList.indexOf(inputFileExtension) > -1 ? true : false;
					    	}

		                    function handleAfterLoadEvent(inputFileObj, isImage){
		                    	var inputFileCorrectness = getInputFileCorrectness(inputFileObj, isImage);
			      				if (isInputFileGood(inputFileCorrectness, isImage)) {
			      					scope.ngModel = isImage ? inputFileObj.imgData : inputFileObj.data;
			      					scope.$apply();
			      				} else {
			      					loadErrorMsg(inputFileCorrectness);
			      				}
		                    }

		                    function loadErrorMsg(fileCorrectness) {
	                    		var badProps = [];
	                    		angular.forEach(fileCorrectness, function(value, key) {
	                    			if (value === false) {
	                    				badProps.push(key);
	                    			}
	                    		});
	                    		scope.errorMsg = "Incorrect " + badProps.join(", ");
	                    		scope.removeFile();
	                    		scope.$apply();
	                    	}

	                    	function getInputFileCorrectness(inputFileObj, isImage) {
	                    		scope.minSize = scope.minSize || 0;
	                    		scope.maxSize = scope.maxSize || 25;
	                    		var isSizeGood = inputFileObj.size > scope.minSize && inputFileObj.size < scope.maxSize;
	                    		var isTypeGood = isInputTypeGood(scope.type, getInputFileType(inputFileObj.name), inputFileObj.type);
	                    			                    		
	                    		if (isImage) {
	                    			return {
	                    				'size' : isSizeGood,
	                    				'file type' : isTypeGood,
	                    				'resolution' : isResolutionForImageGood(scope.maxResolution, scope.minResolution, inputFileObj.resolution)
	                    			};
	                    		} else {
	                    			return {
	                    				'size' : isSizeGood,
	                    				'file type' : isTypeGood
	                    			};
	                    		}
	                    	}

	                    	function isInputFileGood(fileCorrectness, isImage) {
	                    		var isFileGood = fileCorrectness.size && fileCorrectness['file type'];
	                    		return isImage ?  isFileGood && fileCorrectness.resolution : isFileGood;
	                    	}

	                    	function getInputFileType(name) {
	                    		var tempArray = name.split(".");
	                    		return tempArray[tempArray.length-1];
	                    	}

	                    	function isInputTypeGood(type, fileExtension ,fileType) {
	                    		return type ? scope.type == fileExtension || scope.type == fileType : true;
	                    	}

	                    	function isResolutionForImageGood(maxResolution, minResolution, inputImageResolution) {
	                    		var imageResolution = getArrayFromString(inputImageResolution);
                    			
                    			maxResolution = maxResolution || '4920 x 3264'; // resolution of 16MP
                    			minResolution = minResolution || '176 x 120'; // resolution of QCIF
                    			
                    			var maxResolutionArray = getArrayFromString(maxResolution);
                    			var minResolutionArray = getArrayFromString(minResolution);

                    			var isHeightGood = imageResolution[0] < maxResolutionArray[0] && imageResolution[0] > minResolutionArray[0];
                    			var isWidthGood = imageResolution[1] < maxResolutionArray[1] && imageResolution[1] > minResolutionArray[1];

                    			return isHeightGood && isWidthGood;
	                    	}

	                    	function getArrayFromString(string) {
	                    		return string.split("x").map(function(str) {
	                    			return Number(str);
	                    		});
	                    	}

	                    	scope.removeFile = function() {
	                    		scope.inputFileObj = {};
	                    		scope.ngModel = undefined;
	                    	};

	                    	if (scope.ngModel) {
					    		fetch(scope.ngModel).then(function(res){
					    			var fileType = getInputFileType(res.url);
					    			if (isFileImageType(fileType)) {
					    				scope.inputFileObj = {
					    					'name' : 'abc',
					    					'imgData' : res.url
					    				};
					    			} else {
					    				scope.inputFileObj = {
					    					'name' : 'abc'
					    				};
					    			}
					    			scope.$apply();
					    		})
					    		.catch(function(err) {
					    			console.log(err);
					    		})
					    	}       	
				    },
				};
			});
		})(window.angular);
	</script>
</head>
<body>
<div ng-controller="MainCtrl">
	<file-uploader type="jpg" max-size="0.5" min-size="" ng-model="src" max-resolution="" min-resolution=""></file-uploader>
	<div>
		<button ng-click="getFile()">get filk</button>
	</div>
	
</body>
</html>
<script id="template.html" type="text/ng-template">
	<div class="mainDiv">
		<div id="fileInputContainer">
			<label for="fileInput" id="fileInputLabel" ng-class="inputFileObj.name ? 'ng-hide' : 'ng-show' ">Choose File</label>
			<input type="file" name="file" id="fileInput" class="hidden" ng-model="inputFile">
			<div ng-if="errorMsg">
				<span  class="errMsg">{{errorMsg}}</span>
			</div>
			
		</div>
		<div id="filePreviewDiv" ng-if="inputFileObj.name" class="col-md-2">
			<div class="row">
				<div class="pull-left" id="fileNameContainer">
					<span>{{inputFileObj.name}}</span>
				</div>
				<div class="pull-right">
					<button id="removeFileBtn" class="btn btn-xs btn-danger" ng-click="removeFile()"><strong>Remove</strong></button>
				</div>
			</div>
			<div id="imageContainer" ng-if="inputFileObj.imgData">
				<img id="inputImage" class="img-thumbnail" ng-src="{{inputFileObj.imgData}}" alt="Preview Image">
			</div>
		</div>
	</div>
	

</script>
<style>
	.mainDiv {
		position: relative;
		padding: 10px;
	}
	#inputImage {
		height: 200px;
		width: 200px;
	}
	#filePreviewDiv {
		padding: 10px;
		border: 1px solid #c7c5c5;
	}
	#filePreviewDiv .row {
		margin-bottom: 5px 
	}
	#fileNameContainer {
		text-overflow: ellipsis;
	    white-space: nowrap;
	    width: 156px;
	    overflow: hidden;
	}
	#fileNameContainer span {
		padding: 10px;
		margin: 0 10px;
	}
	.errMsg {
		color: #ff6969;
	}
</style>
</script>

